body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.form-element {
  margin: 5px;
}

.form-label {
  margin-right: 5px;
}

.message {
  border-left: 1px solid lightgrey;
  margin: 10px;
  margin-left: 20px;
  padding: 1px;
  padding-left: 8px;
}
